<body>
  <div class="row d-flex justify-content-center">
    <ng-container *ngFor="let quiz of quizList$ | async">
      <div class="column col-sm-6 col-md-4 col-lg-3">
        <div class="card text-center text-white">
          <div class="card-body">
            <h5 class="card-title">{{ quiz.title }}</h5>
            <p class="card-text">{{ quiz.description }}</p>
            <a [routerLink]="['quiz/' + quiz.id]" class="btn">Irány a kvíz!</a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</body>
